.typography-controls {
  &__group {
    margin-bottom: 1rem;
    padding: 1rem;

    &:last-child {
      margin-bottom: unset;
    }
  }

  &__group-header {
    display: flex;
    margin-bottom: 1rem;
  }

  &__group-title {
    margin-bottom: unset;
    margin-right: auto;
  }

  &__group-controls {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin-bottom: 1rem;
  }

  &__control-wrapper {
    align-items: stretch;
    display: flex;
    flex-direction: column;

    &--order {
      margin-right: 1rem;
    }

    &--text {
      grid-column: 1/-1;
      margin-bottom: unset;
    }
  }

  &__input {
    margin-top: auto;
  }
}
