.typography-vertical-rhythm {
  min-height: 1.5rem;

  &__toggle {
    margin-bottom: 1rem;
  }

  &__form {
    margin-left: auto;
  }

  &__controls-group {
    align-items: center;
    display: flex;
    margin-left: 1rem;
  }

  &__input,
  &__label {
    margin-right: 0.5em;
  }

  &__input-wrapper {
    align-items: center;
    display: flex;
  }

  &__input-wrapper:last-child &__input {
    margin-right: unset;
  }
}
