.element {
  &:not(:only-child) {
    margin-bottom: 1rem;
  }
  &__inner {
    padding: 1rem;
  }

  &__header {
    margin-bottom: 1rem;
    display: flex;
  }

  &__controls {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1rem;
    margin-bottom: 1rem;
  }

  &__text {
    margin-bottom: 0;
  }

  &__title {
    margin-bottom: unset;
    margin-right: auto;
  }
}

.element-control {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__input {
    margin-top: auto;
  }
}
