.context-display {
  background-color: #222;
  color: white;
  font-size: 12px;
  height: 100vh;
  left: 0;
  line-height: 1.5;
  overflow-y: auto;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 33vw;
}
