.typography-control-group {
  background-color: #333;
  padding: 2rem;
  margin-bottom: 1rem;

  &__inner {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: minmax(auto, 5rem) 1fr auto;
  }

  &__header {
    display: grid;
    align-content: start;
    grid-row-gap: 1rem;
    grid-template-rows: auto 1fr;
  }

  &__heading {
    color: #aaa;
    display: inline-block;
    margin-bottom: unset;
  }

  &__controls {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;

    &--order {
      margin-bottom: 1rem;
    }
    &--text {
      grid-column: 1/-1;
      margin-bottom: unset;
    }
  }

  &__label {
    color: #aaa;
    margin-bottom: 0.5em;

    &--order {
      margin-bottom: unset;
    }
  }

  &__input {
    margin-top: auto;

    &--remove {
      justify-self: end;
    }
  }
}
