body {
  background-color: #444;
  color: #111;
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  margin-top: unset;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
